<div [ngClass]="hideEmpty && asset.amount == 0 ? 'hidden' : ''" class="mb-3 bg-gray-800 p-3 rounded shadow-sm hover:ring-4 hover:ring-offset-2 hover:ring-blue-logo cursor-pointer">
    <div class="flex justify-start">
        <img class="rounded-full h-10 w-10 mr-2 " src="/assets/images/{{ asset.type == 1 ? 'fiat' : 'crypto' }}/{{asset.ticker}}.svg">
        <div class="text-white my-auto text-base w-20">{{ asset.fullName }}</div>
        <div class="text-base font-bold text-white my-auto ml-auto w-auto">{{ asset.selectedCurrencyPair.left.ticker }} {{ asset.amount.toLocaleString() }}</div>
    </div>
</div>
