<div class="flex flex-row w-1/2 mx-auto">
    <div class="w-1/2 mr-20 mt-20">
        <div class="shadow-md bg-white rounded-md h-40 p-5">
            <div>
                <input type="number" (change)="amountChanged($event.target.value)" class="w-full rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter any {{ currentCurrency }} amount.">
                <button
                    type="button"
                    class="block w-full max-w-xs mx-auto mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
                    (click)="onDeposit()"
                    >
                    DEPOSIT
                </button>
            </div>
        </div>
    </div>
    
    <div class="w-1/2 mr-20 mt-20">
        <div class="shadow-md bg-white rounded-md h-40 p-5">
            <input type="number" (change)="amountChanged($event.target.value)" class="w-full rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter any {{ currentCurrency }} amount.">
            <button
                type="button"
                class="block w-full max-w-xs mx-auto mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
                (click)="onWithdraw()"
                >
                WITHDRAW
            </button>
        </div>
    </div>
</div>