<div class="mx-auto max-w-7xl mt-16">
    <h3 class="text-4xl pb-5">{{ 'Unauthorized.Title' | translate }}</h3>
    <p class="text-lg pb-5 font-light">{{ 'Unauthorized.Description' | translate }}</p>

    <a routerLink="/login" class="block max-w-xs mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">{{ 'Unauthorized.ContinueButton' | translate }}</a>
    <a routerLink="/home" class="block max-w-xs mt-5 bg-gray-300 hover:bg-indigo-400 focus:bg-indigo-400 text-white rounded-lg px-3 py-3 font-semibold">{{ 'Unauthorized.ReturnButton' | translate }}</a>
</div>