<div class="pt-1 w-1/3 mx-auto" *ngIf="transaction != null">
    <h3 class="text-3xl font-semibold mb-5 mt-20">
        {{ 'BuySell.Transaction.Title' | translate }} {{ transaction.amount }} {{ transaction.pair.left.ticker }} {{ 'BuySell.Transaction.Title2'
        | translate }} {{ transaction.pair.right.ticker }}
    </h3>
    <div class="flex mb-2 items-center justify-between">
        <div>
            <span
                class="text-xs {{ transaction.status == paymentStatusRef.success ? '' : 'animate-pulse' }} mb-1 font-semibold inline-block py-1 px-2 uppercase rounded-full text-black bg-green-400">
                {{ 'BuySell.Transaction.' + getStatusText() | translate}}
            </span>
        </div>
        <div class="text-right">
            <span class="text-xs font-semibold inline-block text-teal-600">
                {{ getPercentage() }}
            </span>
        </div>
    </div>
    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-300">
        <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center animate-w-right duration-200"
            [ngClass]="[
        transaction.status == paymentStatusRef.notProcessed ? 'w-[25%] bg-gray-600' : '',
        transaction.status == paymentStatusRef.pending ? 'w-[50%] bg-yellow-400' : '',
        transaction.status == paymentStatusRef.success ? 'w-[100%] bg-green-500' : '',
        transaction.status == paymentStatusRef.failed ? 'w-[100%] bg-red-500' : ''
      ]"></div>
    </div>

    <a routerLink="/wallets" class="flex flex-row mt-10">
        {{ 'BuySell.Transaction.Continue' | translate }}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-3 text-gray-700" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
    </a>
</div>