<span class="flex items-center px-2 py-0.5 mx-2 text-sm rounded-full" [ngClass]="[
    percentage == null || percentage == 0 ? 'bg-gray-100 text-gray-600' : '',
    percentage > 0 ? 'bg-green-100 text-green-600' : '',
    percentage < 0 ? 'bg-red-100 text-red-600' : ''
]">
    <svg *ngIf="percentage >= 0" class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 15L12 9L6 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    <svg *ngIf="percentage < 0" class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        </path>
    </svg>
    <span *ngIf="percentage != null; else percentageNull">0%</span>
    <ng-template #percentageNull>-%</ng-template>
</span>