<div class="mx-auto max-w-7xl mt-16">
    <h3 class="text-4xl pb-5">{{ 'Forbidden.Title' | translate }}</h3>
    <p class="text-lg pb-5 font-light">{{ 'Forbidden.Description' | translate }}</p>

    <ul class="list-disc pl-5 pb-10 text-lg font-semibold">
        <li>{{ 'Forbidden.List.Item1' | translate }}</li>
        <li>{{ 'Forbidden.List.Item2' | translate }}</li>
    </ul>

    <a routerLink="/home" class="block max-w-xs mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">{{ 'Forbidden.ReturnButton' | translate }}</a>
</div>