<div (click)="redirectToUserPage()" class="flex flex-col mb-5 bg-white shadow p-2 rounded-lg hover:shadow-lg transition-shadow duration-200 cursor-pointer">
    <div class="flex flex-row">
        <h3 class="text-lg mb-1 text-indigo-500">{{ deposit.wallet.ticker }} {{ deposit.amount }}</h3>
        <h3 class="text-lg mb-1 ml-3 text-black">{{ deposit.user.firstName }} {{ deposit.user.lastName }}</h3>
        <p class="italic ml-5 text-gray-600">{{ deposit.id }}</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-auto text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
    </div>
    <div>
        <p>{{ getDate() }}</p>
    </div>
</div>