<div class="flex flex-row w-1/2 mx-auto">
    <div class="w-1/2 mr-20 mt-20">
        <div class="shadow-md bg-white rounded-md h-60 p-5">
            <div>
                <h3 class="font-bold text-3xl">Deposit/Withdraw type</h3>
                <a routerLink="fiat" class="block w-full max-w-xs mx-auto mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">Fiat</a>
                <a routerLink="crypto" class="block w-full max-w-xs mx-auto mt-5 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">Crypto</a>
            </div>
        </div>
    </div>
    
    <div class="w-1/2 mr-20 mt-20">
        <div class="shadow-md bg-white rounded-md min-h-60 p-5">
            <h3 class="font-bold text-3xl">Deposit history</h3>
            <div class="mt-5">
                <app-deposit *ngFor="let deposit of depWithService.deposits"></app-deposit>
                <div *ngIf="depWithService.deposits == null || depWithService.deposits.length == 0">
                    <p>You haven't made any deposits yet !</p>
                </div>
            </div>
        </div>
    </div>
</div>